@import 'https://code.highcharts.com/css/highcharts.css';

  body {
  font: 16px arial;
  background-color: black;
}

.highcharts-background {
	fill: #000;
}

.outer-pane {
  stroke-width: 1px;
	stroke: #fff;
    background-color: darkgrey;
}

.middle-pane {
  stroke-width: 1px;
	stroke: #fff;
  stroke-dasharray: 50;
}
.inner-pane {
	fill: #fff;
}

.rpmmiddle-pane {
  border: 2px solid #fff;
  border-radius: 50%;
  border-top-color: transparent;
  transform: rotate(-89deg);
  position: relative;
}

.red-band {
	fill: #DF5353;
	fill-opacity: 1;
}

.highcharts-gauge-series .highcharts-pivot {
	display:none;
}
.highcharts-gauge-series .highcharts-dial {
	fill: white;
}
.highcharts-yaxis .highcharts-tick {
	stroke-width: 4px;
	stroke: #fff;
}
.highcharts-yaxis-grid .highcharts-grid-line,
.highcharts-yaxis-grid .highcharts-minor-grid-line {
	display: none;
}

.highcharts-yaxis .highcharts-minor-tick {
	stroke-width: 1px;
	stroke: #fff;
}

.red-band {
	fill: #DF5353;
	fill-opacity: 1;
}

#speedometer{
  position: relative;
  width: 50%;
  height: 32vw;
  margin: 0 1% auto;
  float:left;
  clip-path: inset(3% 11% 4% 10%);
}

#fuel {
    position: relative;
    z-index: 1;
    width: 25%;
    height: 20vw;
    right: 33.3%;
    float: right;
    margin: 8% -3.5%;
    clip-path: inset(0% 0% 6% 0%);
}

#rpm {
    position: relative;
    z-index: 1;
    width: 25%;
    height: 20vw;
    right: 17.5%;
    float: left;
    margin: 8% -52.5%;
    clip-path: inset(3% 4% 5% 4%);
}

#rocket {
  width: 10%;
  height: 10%;
  margin: 8% -3.5%;
 float: left;
 margin: -15% 5% 40% 21.2%; 
  position: relative;
    visibility: hidden;
}

#machno {
  width: 10%;
  height: 10%;
  margin: 8% -3.5%;
 float: left;
 margin: -15% 0% 40% -15%; 
  position: relative;
}

#nl {
  width: 10%;
  height: 10%;
  margin: 8% -3.5%;
  float: left;
  margin: -131% 0% 0% 21%; 
  position: relative;
  background: black;            
}

#aj {
  width: 10%;
  height: 10%;
  left: 21.1%;
  margin-bottom: 125.2%;
  position: relative;
    z-index: 1;
}

ajnlgauge{
    margin: 0% 0% 30% 0%;
}

.rockettext {
    position: relative;
    top: 200%;
}

#rocketgauge 
{
    position:inherit ;
    float: right;
     margin: 80% -52.5%;
/*   clip-path: inset(67% 44% 18% 44%);*/
}


.container {
width: 100%;
position: relative;
margin: 0 auto;
}

.main-pane{
  width: 80%;
  position: relative;
  margin: 0 13%;
}

.right-pane {
width: 80%;
height: 40vw;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(180deg);
position: relative;
float: left;
margin: -100% 0% 0% 80%;
}

.footer-pane {
width: 100%;
position: relative;
margin: 0 auto;
}

.speedometer-border {
  border-radius: 50%;
  width: 38%;
  height: 38vw;
  margin: 0 auto;
  position: relative;
  z-index: 15;
  border: 3px solid #fff;
}

.ajnlmeter-border{
    border-radius: 50%;
    width:33%;
    height: 12vw;
    border: 2px solid #fff;
    position: relative;
    bottom: 20%;
    left: 33%;
    background: #000;
}

/*.speedometer {
  position: relative;
  width: 100%;
  height: 20vw;
  right: 3.8%;
  bottom: 5%;
}


.nlcircular-gauge {
  width: 100%;
  height: 25vw;
  position: relative;
}

svg #nlcircle {
  stroke-dashoffset: 10;
  transition: stroke-dashoffset 1s ease-out;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: #00ccff;
  stroke-width: 4px;
}
svg #nlbar {
  stroke-dashoffset: 502.65px;
  stroke: #00ccff;
  stroke-width: 20px;
}

.nlgauge-text {
  position: relative;
  width: 50%;
  height: 30vw;
  top: 35%;
  left: 25%;
  text-align: center;
  transform: translateY(-50%);
  font-weight: lighter;
  font-size: 2.3vw;
  color: #00ccff;
  font-family: helvetica, sans-serif;
}

.nlgauge-texttwo {
  position: relative;
  width: 50%;
  height: 30vw;
  text-align: center;
  transform: translateY(-50%);
  bottom: 84%;
  left: 46%;
  font-weight: lighter;
  font-size: 1.3vw;
  color: #00ccff;
  font-family: helvetica, sans-serif;
}

.ajcircular-gauge {
  width: 100%;
  height: 25vw;
  position: relative;
  bottom: 10%;
  clip-path: inset(5% 55% 55% 5%);
}

svg #ajcircle {
  stroke-dashoffset: 10;
  transition: stroke-dashoffset 1s ease-out;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: #ff33cc;
  stroke-width: 4px;
}

svg #ajbar {
  stroke-dashoffset: 502.65px;
  stroke: #ff33cc;
  stroke-width: 20px;
}

.rocketmeter-border {
  border-radius: 50%;
  width: 33%;
  height: 12vw;
  border: 2px solid #fff;
  position: relative;
  bottom: 19%;
  left: 33%;
}

.rocket-gauge {
  width: 100%;
  height: 25vw;
  position: relative;
}

svg #rocketcircle {
  stroke-dashoffset: 10;
  transition: stroke-dashoffset 1s ease-out;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: #ff33cc;
  stroke-width: 4px;
}

svg #rocketbar {
  stroke-dashoffset: 502.65px;
  stroke: #ff33cc;
  stroke-width: 20px;
}
*/

.rocketgauge-text {
  position: relative;
  width: 50%;
  height: 30vw;
  text-align: center;
  transform: translateY(-50%);
  top: 23%;
  left: 25%;
  font-weight: lighter;
  font-size: 3vw;
  text-transform: uppercase;
  color: #ff33cc;
  font-family: helvetica, sans-serif;
}

.percentage-text {
  position: relative;
  width: 50%;
  height: 30vw;
  text-align: center;
  transform: translateY(-50%);
  bottom: 93%;
  left: 49%;
  font-weight: lighter;
  font-size: 2vw;
  color: #ff33cc;
  font-family: helvetica, sans-serif;
}

.rocketgauge-texttwo {
  position: relative;
  width: 50%;
  height: 30vw;
  text-align: center;
  transform: translateY(-50%);
  bottom: 206%;
  left: 30px;
  font-weight: lighter;
  font-size: 1.8vw;
  color: #ff33cc;
  font-family: helvetica, sans-serif;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/*.gauge .domain {
  stroke-width: 4px;
  stroke: #fff;
}

.gauge .tick line {
  stroke: #fff;
  stroke-width: 4px;
  fill: white;
}

.gauge line {
  stroke: #fff;
}

.gauge .arc, .gauge .cursor {
  opacity: 0;
}

.gauge .major {
  font-size: 19px;
  font-family: 'Play', verdana, sans-serif;
  font-weight: normal;
  fill: white;
}

.gauge .indicator {
  stroke: #fff;
  fill: #000;
  stroke-width: 6px;
}*/

.rpmgauge-border {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 83%;
  height: 30vw;
  border-top-color: transparent;
  transform: rotate(70deg);
  position: relative;
  bottom: 84%;
  right: 58%;
}

.rpmgauge {
  position: relative;
  width: 100%;
  height: 20vw;
  right: 36%;
  bottom: 10%;
}

.rpmgauge .domain {
  stroke-width: 4px;
  stroke: #fff;
}

.rpmgauge .tick line {
  stroke: #fff;
  stroke-width: 4px;
  fill: white;
}

.rpmgauge line {
  stroke: #fff;
}

.rpmgauge .arc, .rpmgauge .cursor {
  opacity: 0;
}

.rpmgauge .major {
  font-size: 19px;
  font-family: 'Play', verdana, sans-serif;
  font-weight: normal;
  fill: white;
}

.rpmgauge .indicator {
  stroke: #fff;
  fill: #000;
  stroke-width: 6px;
}

.rpmgauge-text {
   position: relative;
   bottom: 34%;
   left: 20vw;
   font-size: 1.7vw;
   bottom: 155%;
   left: -20%;
   color: #fff;
   font-family: helvetica, sans-serif;
}

.fuelgauge-border {
  border: 2px solid #fff;
  border-radius: 50%;
  border-top-color: transparent;
  transform: rotate(-89deg);
  position: relative;
}

.fuelgauge {
  width: 20%;
  height: 10vw;
  position: relative;
  bottom: 253px;
}

.fuelgauge .domain {
  stroke-width: 4px;
  stroke: #fff;
}

.fuelgauge .tick line {
  stroke: #fff;
  stroke-width: 4px;
  fill: white;
}

.fuelgauge line {
  stroke: #fff;
}

.fuelgauge .arc, .fuelgauge .cursor {
  opacity: 0;
}

.fuelgauge .major {
  font-size: 19px;
  font-family: 'Play', verdana, sans-serif;
  font-weight: normal;
  fill: white;
}

.fuelgauge .indicator {
  stroke: #fff;
  fill: #000;
  stroke-width: 6px;
}

.fuelgauge-text {
   position: relative;
   bottom: 288%;
   left: 103%;
   font-size: 1.7vw;
   color: #fff;
   font-family: helvetica, sans-serif;
}

.highcharts-yaxis-grid .highcharts-grid-line {
	display: none;
}

.rocketdiv {
  position: relative;
  color:#ff33cc;
  bottom: 2.5em;
}

#rockettext {
  position: relative;
  width: 50%;
  height: 30vw;
  text-align: center;
  transform: translateY(-50%);
  font-weight: lighter;
  font-size: 0.8vw;
  text-transform: uppercase;
  color: #ff33cc;
  font-family: helvetica, sans-serif;
}

#rocketpercentage {
  position: relative;
  width: 50%;
  height: 30vw;
  text-align: center;
  transform: translateY(-50%);
  font-weight: lighter;
  font-size: 0.8vw;
  text-transform: uppercase;
  color: #ff33cc;
  font-family: helvetica, sans-serif;
}

.rocketaxis {
 color: #ff33cc
}

.machdiv {
  position: relative;
  color:#ff33cc;
  bottom: 30px;
}

#machtext {
  position: relative;
  width: 50%;
  height: 30vw;
  text-align: center;
  transform: translateY(-50%);
  font-weight: lighter;
  font-size: 0.8vw;
  text-transform: uppercase;
  color: #ff33cc;
  font-family: helvetica, sans-serif;
}

/*
#machno {
  position: relative;
  width: 50%;
  height: 30vw;
  text-align: center;
  transform: translateY(-50%);
  font-weight: lighter;
  font-size: 0.8vw;
  text-transform: uppercase;
  color: #ff33cc;
  font-family: helvetica, sans-serif;
}
*/

.ajdiv {
  position: relative;
  color:#ff33cc;
  bottom: 45px;
}

#ajtext {
  position: relative;
  width: 50%;
  height: 30vw;
  text-align: center;
  transform: translateY(-50%);
  font-weight: lighter;
  font-size: 0.8vw;
  text-transform: uppercase;
  color: #ff33cc;
  font-family: helvetica, sans-serif;
}

.nldiv {
  position: relative;
  color:#00ccff;
  bottom: 5px;
}

#nltext {
  position: relative;
  width: 50%;
  height: 30vw;
  text-align: center;
  transform: translateY(-50%);
  font-weight: lighter;
  font-size: 0.8vw;
  text-transform: uppercase;
  color: #00ccff;
  font-family: helvetica, sans-serif;
}

#canvas-id {
  position: relative;
    width: 20%;
    height: 5%;
    bottom: 22em;
}

#canvastwo-id {
  position: relative;
    width: 20%; 
    height: 5%; 
    bottom: 38em;
    left: 6em;
}

.speedometer-border {
  border-radius: 50%;
  width: 600px;
  height: 600px;
  position: relative;
  z-index: 15;
  border: 3px solid #fff;
  top: 60%;
  left: 50%;
  margin: -5px 0 0 -150px;
}

.ajnlmeter-border{
    border-radius: 50%;
    width: 190px;
    height: 190px;
    border: 2px solid #fff;
    position: relative;
    left: 200px;
    bottom: 300px;
    background: #000;
}

.nlcircular-gauge {
  width: 200px;
  margin: 50px auto;
  position: relative;
  bottom: 55px;
  left: -6px;
}

.nlgauge-text {
  position: relative;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  bottom: 90px;
  left: 5px;
  font-weight: lighter;
  font-size: 42px;
  line-height: 36px;
  color: #00ccff;
  font-family: helvetica, sans-serif;
}

.nlgauge-text span {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.nlgauge-texttwo {
  position: relative;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  bottom: 132px;
  left: 43px;
  font-weight: lighter;
  font-size: 20px;
  color: #00ccff;
  font-family: helvetica, sans-serif;
}

.rocketmeter-border {
  border-radius: 50%;
  width: 190px;
  height: 190px;
  border: 2px solid #fff;
  position: relative;
  left: 200px;
  bottom: 295px;
}

.rocket-gauge {
  width: 200px;
  margin: 50px auto;
  position: relative;
  bottom: 54px;
  left: -5px;
}

.rocketgauge-text {
  position: relative;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  bottom: 120px;
  left: 5px;
  font-weight: lighter;
  font-size: 58px;
  color: #ff33cc;
  font-family: helvetica, sans-serif;
}
.rocketgauge-text span {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.percentage-text {
  position: relative;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  bottom: 178px;
  left: 53px;
  font-weight: lighter;
  font-size: 30px;
  color: #ff33cc;
  font-family: helvetica, sans-serif;
}

.rocketgauge-texttwo {
  position: relative;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  bottom: 185px;
  left: 3px;
  font-weight: lighter;
  font-size: 28px;
  color: #ff33cc;
  font-family: helvetica, sans-serif;
}

.rpmgauge-border {
  border: 2px solid #fff;
  border-radius: 50%;
  height: 520px;
  width: 520px;
  border-top-color: transparent;
  transform: rotate(69deg);
  position: relative;
  right: 360px;
  bottom: 1040px;
}

.rpmgauge-text {
   position: relative;
   bottom: 3450px;
   left: -120px;
   font-size: 20px;
   color: #fff;
   font-family: helvetica, sans-serif;
}

.fuelgauge-border {
  border: 2px solid #fff;
  border-radius: 50%;
  height: 320px;
  width: 320px;
  border-top-color: transparent;
  transform: rotate(-89deg);
  position: relative;
  left: 536px;
  bottom: 2150px;
}

.fuelgauge-text {
   position: relative;
   bottom: 2930px;
   left: 615px;
   font-size: 20px;
   color: #fff;
   font-family: helvetica, sans-serif;
}

svg #rocketcircle {
  stroke-dashoffset: 10;
  transition: stroke-dashoffset 1s ease-out;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: #ff33cc;
  stroke-width: 4px;
}

svg #rocketbar {
  stroke-dashoffset: 502.65px;
  stroke: #ff33cc;
  stroke-width: 20px;
}



svg #nlcircle {
  stroke-dashoffset: 10;
  transition: stroke-dashoffset 1s ease-out;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: #00ccff;
  stroke-width: 4px;
}
svg #nlbar {
  stroke-dashoffset: 502.65px;
  stroke: #00ccff;
  stroke-width: 20px;
}

.ajcircular-gauge {
  width: 200px;
  margin: 50px auto;
  position: relative;
  bottom: 742px;
  left: -3px;
  clip-path: inset(5% 55% 55% 5%);
}

.ajgauge-text {
  position: relative;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  bottom: 920px;
  left: 3px;
  font-weight: lighter;
  font-size: 42px;
  color: #ff33cc;
  font-family: helvetica, sans-serif;
}

.ajgauge-texttwo {
  position: relative;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  bottom: 960px;
  left: 38px;
  font-weight: lighter;
  font-size: 20px;
  color: #ff33cc;
  font-family: helvetica, sans-serif;
}

svg #ajcircle {
  stroke-dashoffset: 10;
  transition: stroke-dashoffset 1s ease-out;
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  stroke: #ff33cc;
  stroke-width: 4px;
}
svg #ajbar {
  stroke-dashoffset: 502.65px;
  stroke: #ff33cc;
  stroke-width: 20px;
}


.tbt-percentage {
  position: relative;
  width: 7%;
  z-index: -1;
  white-space: pre;
  text-align: center;
  font-weight: bold;
  font-size: 1vw;
  color: #cd6700;
  font-family: helvetica, sans-serif;
  margin-top: -220%; 
}

.nh-percentage {
  position: relative;
  left: 250px;
  bottom: 285px;
  white-space: pre;
  text-align: center;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: 15px;
  color: #0086ac;
  font-family: helvetica, sans-serif;
}

/*
.catpack {
  position: relative;
  bottom: 260px;
  left: 0px;
  white-space: pre;
  text-align: center;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: 15px;
  color: #0086ac;
  font-family: helvetica, sans-serif;
}
*/

#canvas-id {
  position: relative;
    width: 30%;
    height: 10vw;
    margin: -40% 0% 0% 0%; 
}

#canvastwo-id {
  position: relative;
  width: 5%;
    height: 10vw;
    margin: -250% 0% 0% 0%; 
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
.gauge .domain {
  stroke-width: 4px;
  stroke: #fff;
}

.gauge .tick line {
  stroke: #fff;
  stroke-width: 4px;
  fill: white;
}

.gauge line {
  stroke: #fff;
}

.gauge .arc, .gauge .cursor {
  opacity: 0;
}

.gauge .major {
  font-size: 19px;
  font-family: 'Play', verdana, sans-serif;
  font-weight: normal;
  fill: white;
}

.gauge .indicator {
  stroke: #fff;
  fill: #000;
  stroke-width: 6px;
}

.rpmgauge {
  position: relative;
  right: 360px;
  bottom: 1560px;
}

.rpmgauge .domain {
  stroke-width: 4px;
  stroke: #fff;
}

.rpmgauge .tick line {
  stroke: #fff;
  stroke-width: 4px;
  fill: white;
}

.rpmgauge line {
  stroke: #fff;
}

.rpmgauge .arc, .rpmgauge .cursor {
  opacity: 0;
}

.rpmgauge .major {
  font-size: 19px;
  font-family: 'Play', verdana, sans-serif;
  font-weight: normal;
  fill: white;
}

.rpmgauge .indicator {
  stroke: #fff;
  fill: #000;
  stroke-width: 6px;
}

.fuelgauge {
  width: 200px;
  margin: 50px auto;
  position: relative;
  left: 330px;
  bottom: 2530px;
}

.fuelgauge .domain {
  stroke-width: 4px;
  stroke: #fff;
}

.fuelgauge .tick line {
  stroke: #fff;
  stroke-width: 4px;
  fill: white;
}

.fuelgauge line {
  stroke: #fff;
}

.fuelgauge .arc, .fuelgauge .cursor {
  opacity: 0;
}

.fuelgauge .major {
  font-size: 19px;
  font-family: 'Play', verdana, sans-serif;
  font-weight: normal;
  fill: white;
}

.fuelgauge .indicator {
  stroke: #fff;
  fill: #000;
  stroke-width: 6px;
} 
*/

.distancegauge {
            font-size: 12px;
        }

        .distancegauge .axis path,
        .distancegauge .axis line {
            fill: none;
            stroke: #ddd;
        }

        .distancegauge .lane, .distancegauge .cursor {
            opacity: 0;
        }

        .distancegauge .tick {
            fill: #ddd;
        }

        .distancegauge .major {
            stroke-width: 2;
        }

        .distancegauge .ok {
            fill: green;
            height: 20px;
            opacity: 0.8;
        }

        .distancegauge .warning {
            fill: yellow;
            height: 20px;
            opacity: 0.8;
        }

        .distancegauge .fault {
            fill: red;
            height: 20px;
            opacity: 0.8;
        }

.distance-text {
  position: relative;
  bottom: 3115px;
  left: 195px;
  font-size: 20px;
  color: #fff;
  font-family: helvetica, sans-serif;
}

/*
.frontbraketempgauge-text {
  position: relative;
  bottom: 3275px;
  left: 920px;
  font-size: 20px;
  color: #fff;
  font-family: helvetica, sans-serif;
}

.rearbraketempgauge-text {
  position: relative;
  bottom: 3300px;
  left: 1170px;
  font-size: 20px;
  color: #fff;
  font-family: helvetica, sans-serif;
}


.segdisplay .on {
  fill: #fff;
}

.segdisplay .off {
  fill: #fff;
  opacity: 0.1;
}
*/